#menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
    background: transparent;
}

#menu-container h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    background: linear-gradient(in hsl longer hue 90deg, red 0 100%);
    background-clip: text;
    color: transparent;
    background-size: 1000% auto;
    animation: gradient 600s linear infinite;
}

@keyframes gradient {
	to {
		background-position: 1000% center;
	}
}

#menu-container input {
    text-align: center;
}

body {
    background-image: url(../images/menuBackground.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
 #start-btn { 
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border: none;
    }