body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

#canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#grid-canvas {
    display: none;
    background-color: grey;
}
